$chart-colour-1: #0071F1!default;
$chart-colour-2: #009B9B!default;
$chart-colour-3: #24B300!default;
$chart-colour-4: #FFB32B!default;
$chart-colour-5: #F51A5A!default;
$chart-colour-6: #FA6400!default;
$chart-colour-7: #963CE1!default;
$chart-colour-8: #8D8D8D!default;
$chart-colour-9: #067EB3!default;
$chart-colour-10: #D24712!default;

$chart-colors: ();
$chart-colors: map-merge((
  1: $chart-colour-1,
  2: $chart-colour-2,
  3: $chart-colour-3,
  4: $chart-colour-4,
  5: $chart-colour-5,
  6: $chart-colour-6,
  7: $chart-colour-7,
  8: $chart-colour-8,
  9: $chart-colour-9,
  10: $chart-colour-10
), $chart-colors);

$chart-height: 56.25%!default;
$chart-height-lg: 42.86%!default;

// Selectors
$default-chart: 'input[type="radio"]:not([value="none"]):not([value="pie"]):checked ~ .chart__inner';
$bar-chart: 'input[type=radio]:is([value="bar"],[value="comparison"]):not([value=none]):not([value=pie]):checked~.chart__inner';
$combo-chart: 'input[type=radio][value="combo"]:not([value=none]):not([value=pie]):checked~.chart__inner';
$comparison-chart: 'input[type=radio][value="comparison"]:not([value=none]):not([value=pie]):checked~.chart__inner';
$comparison-chart-key: 'input[type=radio][value="comparison"]:not([value=none]):not([value=pie]):checked~.chart__key';
$responsive-chart: 'input[type=radio][value="responsive"]:not([value=none]):not([value=pie]):checked~.chart__inner';
$scatter-line-chart: 'input[type="radio"]:not([value="none"]):not([value="pie"]):is([value="line"],[value="scatter"],[value="bubble"],[value="radar"],[value="proportional"]):checked ~ .chart__inner';
$line-chart: 'input[type="radio"]:not([value="none"]):not([value="pie"])[value="line"]:checked ~ .chart__inner';
$bubble-chart: 'input[type="radio"]:not([value="none"]):not([value="pie"])[value="bubble"]:checked ~ .chart__inner';
$radar-chart: 'input[type="radio"]:not([value="none"]):not([value="pie"])[value="radar"]:checked ~ .chart__inner';
$proportional-chart: 'input[type="radio"]:not([value="none"]):not([value="pie"])[value="proportional"]:checked ~ .chart__inner';
$proportional-chart-key: 'input[type="radio"]:not([value="none"]):not([value="pie"])[value="proportional"]:checked ~ .chart__key';
$pie-chart: 'input[type="radio"]:not([value="none"]):is([value="pie"],[value="polar"]):checked ~ .chart__inner';
$polar-chart: 'input[type="radio"]:not([value="none"])[value="polar"]:checked ~ .chart__inner';
$tree-chart: 'input[type="radio"]:not([value="none"])[value="treemap"]:checked ~ .chart__inner';
$tree-chart-key: 'input[type="radio"]:not([value="none"])[value="treemap"]:checked ~ .chart__key';
$dumbbell-chart: 'input[type="radio"]:not([value="none"])[value="dumbbell"]:checked ~ .chart__inner';
