@use "./_vars" as *;
@use "./_func" as *;

:root {

}

//$chart-colour-1: purple;
//$chart-colour-1: purple;


.diary table {

  width: 100%;
  table-layout: fixed;

  th {
    background-color: blue;
    height: 3rem;
    padding: 0;
    outline: 1px solid black;
    position: relative;
    vertical-align: top;
  }

  td {
    height: 5rem;
    padding: 0;
    outline: 1px solid black;
    position: relative;
    vertical-align: top;
    padding-bottom: 2em;
    max-height: 8rem;
    overflow: auto;

    &:empty {
      background: grey;
    }

    &.current {
      background: pink;
    }

    .date {
      position: absolute;
      top: 1em;
      left: 1em;
    }
  }

  /*
  tr > *:nth-child(5) ~ * {
    display: none;
  }
  */

  tbody tr:not(:has(td:not(:empty))){
    display: none;
  }

  .event {
    display: block;
    background-color: purple;
    padding: 0.5em;
    margin-bottom: 1px;

    span {
      display: none;
    }
  }

}

.diary {

  dialog[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 24rem;
    margin: 0;

    input[name="eventId"][value=""] ~ .delete {
      display: none;
    }
  }

}